@model blog.Models.Comments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="authorId" />
            <div class="form-group">
                <label asp-for="commentAuthor" class="control-label"></label>
                <input asp-for="commentAuthor" class="form-control" />
                <span asp-validation-for="commentAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="commentDate" class="control-label"></label>
                <input asp-for="commentDate" class="form-control" />
                <span asp-validation-for="commentDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isHidden" /> @Html.DisplayNameFor(model => model.isHidden)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="commentAuthorEmail" class="control-label"></label>
                <input asp-for="commentAuthorEmail" class="form-control" />
                <span asp-validation-for="commentAuthorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="commentDescription" class="control-label"></label>
                <input asp-for="commentDescription" class="form-control" />
                <span asp-validation-for="commentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
